.testibox{
    display: flex;
    flex-flow: row wrap;
    width: 1950px;
    height: 438px;
}
.icons{
    color: #F9CC00;
}
.paragraf{
    width: 415px;
    height: 80px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.tanggal{
    width: 415px;
    height: 20px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    flex: none;
    order: 2;
    flex-grow: 0;
}